{% extends "base.html" %}

{% block content %}


<div class="header">
  <p id="header-para">
Discovering Birdsong is an attempt to create taste profiles for ......birdsong!  Weird.  We know.  But..but...why not?  Thanks to the generousity of the 
staff and contributors over at  <a href="http://xeno-canto.org">Xeno Canto</a> We here at Discovering Birdsong can use the computational techniques normally reserved for guessing whether you'd prefer ground chuck on sale or Mortons at any price to introduce to wider range of bird calls.  Hope you enjoy.
</p>
</div>

<div class="right-column">
  </div>

<div class="main">

  {% block rating %}{% endblock %}

<div class="left-column">
  </div>






  </div>















{% endblock %}
